<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/main.css"  media="screen,projection"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Jquery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!-- EJS -->
    <script type="text/javascript" src="js/ejs.min.js"></script>

    <!-- Document Content -->

    <script id="template" type="text/template">
        <!-- Header Navbar --> 
        <nav class="nav-extended z-depth-1">
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger left show-on-large"><i class="material-icons">menu</i></a> 
                <span class="brand-logo left truncate"><%= title %> </span>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a class="active" href="#calendar">Calendário</a></li>
                    <li class="tab"><a href="#electives">Eletivas</a></li>
                    <li class="tab"><a href="#grades">Notas e Faltas</a></li>
                </ul>
            </div>
        </nav>

        <!-- Sidebar Nav-->
        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="images/office.jpg">
                    </div>
                    <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
                    <a href="#name"><span class="white-text name">John Doe</span></a>
                    <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div>
            </li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>

        <div id="calendar" class="tab-content">
            <div class="card">
                <div class="card-image">
                    <img src="images/back.jpg" alt=""/>
                    <span class="number-card"><%= lesson['number'] %></span>
                </div>
                <div class="card-content">
                    <div class="row np nmb">
                        <div class="col s9 np">
                            <span class="text-black">Nome da Aula</span>
                            <span class="text-min"> <%= lesson['name'] %> </span> 
                            <span class="text-black">Nome do Módulo</span>
                            <span class="text-min"> <%= lesson['info'] %> </span> 
                        </div>
                        <div class="col s3 np">
                            <% var dateTime = lesson['date_time'].split(' '); %>
                            <% var date = dateTime[0]; %>
                            <% var hour = dateTime[1];%>
                            <span class="text-min right-align"><%= date %><br><%= hour %></span>
                        </div>           
                    </div>       
                </div>
                <div class="card-action">
                    <ul class="collapsible">
                        <li>
                            <div class="collapsible-header right-align text-gray">MATERIAL DE AULA<i class="material-icons" id="expand-icon">expand_more</i></div>
                            <div class="collapsible-body">
                                    <span class="text-min"> Arquivos: </span>
                                    <ul class="files-list">
                                        <% lesson['files'].forEach(function(file){ %>
                                            <li><a href="<%= file.link %>"><%= file.name %></a></li>
                                        <% })%>
                                    </ul> 
                            </div>
                        </li>
                    </ul>                
                </div>
            </div>
            <div class="chat">
                <div class="messages">
                    <ul class="nm">
                        <% lesson['messages'].forEach(function(message){ %>
                            <% if (message['userType'] == 1){ %>
                                <li class="msg-right">
                            <% }else{ %>
                                <li class="msg-left">
                            <% } %>
                            <p><%= message.text %></p> </li>
                        <%})%>
                    </ul>
                </div>
                <div class="input-message">
                    <form action="send">
                        <div class="row">
                            <div class="input-field col s11 nm">
                                <input id="send-text" type="text" class="validate" placeholder="Digite sua mensagem aqui">
                            </div>
                            <div class="input-field col s1 nm np">
                                <button class="btn-flat waves-effect btn-large np" type="submit" name="action">
                                    <i class="material-icons large nm" id="send-button">send</i>
                                </button>
                            </div>
                        </div>
                        
                    </form>
 
                </div>
            </div>
        </div>
        <div id="electives" class="tab-content">
        </div>
        <div id="grades" class="tab-content">
            <p class="white-text">This is the content of the test 3: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem hic non minus maxime, sunt atque nostrum quod architecto voluptatum eos aliquid fugit deleniti quasi, dolor delectus numquam quisquam totam mollitia.</p>
        </div>
    
    </script>

    <!-- Document Content  #end-->

    <!-- Main File -->
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>     
    

   

</body>
</html>